{% extends "base.html" %}
{% block title %}Currency Exchange{% endblock %}

{% block content %}

<style>

    .myDiv {
      border-style: solid;
      border-width: 2px;
      height: 80px;
      background-color: #f0f0f0;
      border-radius:10px;
      font-size: 18pt;
      padding: 10px;
      font-family: andale mono;

      }

    table, th, td {
      border: 2px solid black;
      padding: 15px;

    }

    </style>


<h1> Currency Exchange Rate Page</h1><br>

<div class="myDiv">
    1 Euro = {{cur_latest}} {{cur_main["currency_name"]}}
</div>
<br>
<br>
<table align="top" style="width:100%; height:100%; border-collapse: separate; border-spacing: 5px 8px; border-radius:10px; ">

    <tr style="width:80%; ">
        <th style = "width: 25%">Currency name</th>
        <td style="vertical-align: middle;">{{cur_main["currency_name"]}}</td>
    </tr>
    <tr>
        <th>Currency code</th>
        <td>{{cur_main["currency_code"]}}</td>
    </tr>
    <tr>
        <th>Other countries with the same currency</th>
        <td id = "country">blabla</td>
        <script>var coun = '{{cur_main["countries"]}}'
            var ncoun = coun
                .replace("[&#39;", "")
                .replace("&#39;]", "")
                .replaceAll("&#39;", "") 
            document.getElementById("country").innerHTML = ncoun;
        </script> <noscript></noscript>
    </tr>
    <tr>
        <th>latest rate of currency to base EUR</th>
        <td>{{cur_latest}}</tb>
    </tr>
    <tr>
        <th>average rate in last 7 days</th>
        <td>{{cur_average}}</tb>
    </tr>
    <tr>
        <th>percentage increase to average</th>
        <td>{{cur_percentage}}</tb>
    </tr>
    <tr>
        <th>Local Big Mac Price (Local Currency)</th>
        <td>{{mac_price_local}}</td>
    </tr>
    <tr>
        <th>Local Big Mac Price (Converted to Euro)</th>
        <td>{{mac_price_eur}}</td>
    </tr>
    <tr>
        <th>Relative Cost to German Big Mac</th>
        <td>{{mac_price_relative}}</td>
    </tr>
</table>


{% endblock %}